<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hi {{ name }},
        <br><br>Is your team still manually entering data from handwritten or computer-generated invoices into
        your
        ERP or Excel? We’re here to change that.<br><br><a title="DocExtract Website" href="https://docextract.ai/"
            target="_blank" rel="noopener">DocExtract</a> is an AI-powered platform that intelligently extracts data —
        even
        from complex or poorly formatted documents — and converts it into clean, structured, and ready-to-use
        formats.<br><br>You can try it out today: <a title="DocExtract" href="https://docextract.ai/get-started/"
            target="_blank" rel="noopener">https://docextract.ai/get-started/</a><br><br>Would you be open to a quick
        15-minute call this week or next? I’d love to learn about your current workflow and show you how DocExtract can
        save
        your team time, reduce errors, and give you early access to our upcoming features and plans.<br><br>Looking
        forward
        to connecting!<br>
    Best regards,
        <br>
        Ved Prakash Pathak
    <br>
    
    Vice President | <a title="DocExtract website" href="https://docextract.ai/" target="_blank"
            rel="noopener">DocExtract</a><br><a title="Book a Meeting" href="https://calendly.com/ved-docextract"
            target="_blank" rel="noopener">Book a Meeting</a></p>
    <p><img src="https://de-intelliteam.s3.ap-south-1.amazonaws.com/media/DocExtract-Banner.jpg" alt="DocExtract Banner"
            width="500" height="123"><br><br></p>
    <a href="https://www.linkedin.com/company/docextract" target="_blank" rel="noopener"> <img
            style="vertical-align: middle;"
            src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" alt="LinkedIn" width="24"
            height="24"> </a>
</body>

</html>